@model Application.Features.Users.Commands.Create.CreateUserCommand
@{
}

<style>
    .user-details-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea,
    input[type="date"] {
        width: calc(100% - 12px);
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    button {
        padding: 8px 15px;
        font-size: 14px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        button:hover {
            background-color: #0056b3;
        }

</style>

<form asp-action="AddUser" asp-controller="Users" class="user-details-form">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    @*<input type="hidden" asp-for="CreatedBy" name="CreatedBy" value="@User.FindFirst(ClaimTypes.NameIdentifier).Value" />*@

<div class="form-group">
    <label for="username">اسم المستخدم:</label>
    <input type="text" asp-for="Name">
    <span class="text-danger" asp-validation-for="Name"></span>
</div>
<div class="form-group">
    <label for="username">اسم المستخدم:</label>
    <input type="text" asp-for="UserName">
    <span class="text-danger" asp-validation-for="UserName"></span>
</div>
<div class="form-group">
    <label for="email">البريد الإلكتروني:</label>
    <input type="email" asp-for="Email">
    <span class="text-danger" asp-validation-for="Email"></span>

</div>
<div class="form-group">
    <label for="phone">رقم الهاتف:</label>
    <input type="text" asp-for="Phone">
    <span class="text-danger" asp-validation-for="Phone"></span>

</div>
<div class="form-group">
    <label for="birthdate"> العمر:</label>
    <input type="number" asp-for="Age">
    <span class="text-danger" asp-validation-for="Age"></span>

    <samp class="c"></samp>
</div>


    <div class="form-group">
        <button type="submit">اضافة</button>
    </div>
</form>
