<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UserMangament</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UserMangament.styles.css" asp-append-version="true" />
    <link href="~/assets/toastrjs/toastr.min.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="~/assets/style.css">
    @RenderSection("style", required: false)
    <title>إدارة المستخدمين</title>
</head>
<body style="text-align: right;">


    <!-- SIDEBAR -->
    <section id="sidebar" style="text-align: right; direction: rtl">
        <a href="#" class="brand">
            <i class='bx bxs-smile'></i>
            <span class="text">إدارة مستخدمين</span>
        </a>
        <ul class="side-menu top" >
            <li class="active">
                <a href="#">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">الرئيسية</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">المستخدمين</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">طلبات الاجازات</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">الاقسام</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-group'></i>
                    <span class="text">الموظفين</span>
                </a>
            </li>
        </ul>
        <ul class="side-menu">
            <li>
                <a href="#">
                    <i class='bx bxs-cog'></i>
                    <span class="text">الحضور والانصراف</span>
                </a>
            </li>
            <li>
                <a href="#" class="logout">
                    <i class='bx bxs-log-out-circle'></i>
                    <span class="text">تسجيل الخروج</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- SIDEBAR -->


    @RenderBody()
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/sweet-alert2/sweetalert2@9.js"></script>
    <script src="~/assets/toastrjs/toastr.min.js"></script>
    <script src="~/assets/script.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_notificationPartial")
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

